html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #dadee3;
    color: #000000
}

.navbar.bg-primary {
    background-color: #808080 !important;
}

.btn-primary {
    background-color: #146a4f;
    border-color: #0b3d2e;
}

.features-list li {
    color: #146a4f;
    display: flex;
    align-content: start;
}

.features-list li span {
    color: #000000;
    font-weight: bold;
}