@model ToDo

<h2>New Task</h2>
 <form asp-action="Add" method="post">
     <div class="mb-3">
        <label asp-for="Description" class="form-label">Description></label>
        <select asp-for="Description" class="form-control"/>
            <option value=""></option>
     </div>

    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label">Category</label>
        <select asp-for="CategoryId" class="form-select" asp-items="@(new SelectList(ViewBag.Categories, "CategoryId", "Name"))" />
        <option value=""></option>
    </div>

    <div class="mb-3">
        <label asp-for="DueDate" class="form-label">Due Date:</label>
        <input asp-for="DueDate" class="form-control" type="text"/>
    </div>

    <div class="mb-3">
        <label asp-for="StatusId" class="form-label">Status:</label>
        <select asp-for="StatusId" class="form-select" asp-items="@(new SelectList(ViewBag.Statuses, "StatusId", "Name"))" />
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
    <a asp-action="Index" class="btn btn-primary">Cancel</a>
 </form>